#contact {
	background: linear-gradient(to bottom, #{fade-out($brown, .2)} 0%,#{fade-out($brown, .2)} 100%), url('../images/slidy-paul.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
}
